<div class="govuk-grid-row">

  <ngx-spinner></ngx-spinner>

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Create a hearing</h1>
  </div>

  <div class="govuk-grid-column-one-half">

    <form [formGroup]="form" class="govuk-form-group">

      <div [ngClass]="hearingDateInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
        <label class="govuk-label govuk-!-width-full" for="hearingDate"> Date of hearing </label>
        <input
          id="hearingDate"
          class="govuk-input govuk-!-width-one-half"
          type="date"
          formControlName="hearingDate"
          required
          placeholder="e.g. 30/02/2021"
          min="{{ today | date: 'yyyy-MM-dd' }}"
          (blur)="resetPastTimeOnBlur()"
        />
        <div *ngIf="hearingDateInvalid" class="alert alert-danger">
          <span id="hearingDate-error" class="govuk-error-message"> Please enter a date in the future </span>
        </div>
      </div>

      <div
        [ngClass]="
          hearingStartTimeHourInvalid || hearingStartTimeMinuteInvalid || isStartHoursInPast || isStartMinutesInPast
            ? 'govuk-form-group--error'
            : 'govuk-form-group'
        "
      >
        <label class="govuk-label govuk-!-width-full" for="hearingStartTime"> Hearing start time (use the 24 hour clock) </label>
        <fieldset class="govuk-fieldset" aria-describedby="hearingStartTimeHour" role="group">
          <legend></legend>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2 numberInputs"
                  id="hearingStartTimeHour"
                  name="hearingStartTimeHour"
                  type="number"
                  min="0"
                  max="23"
                  placeholder="HH"
                  formControlName="hearingStartTimeHour"
                  title="hearingStartTimeHour"
                  aria-label="hearingStartTimeHour"
                  aria-labelledby="hearingStartTimeHour"
                  (blur)="startHoursInPast()"
                />
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2 minutes numberInputs"
                  id="hearingStartTimeMinute"
                  name="hearingStartTimeMinute"
                  type="number"
                  min="1"
                  max="59"
                  placeholder="MM"
                  title="hearingStartTimeMinute"
                  formControlName="hearingStartTimeMinute"
                  aria-label="hearingStartTimeMinute"
                  aria-labelledby="hearingStartTimeMinute"
                  (blur)="startMinutesInPast()"
                />
              </div>
            </div>
          </div>
        </fieldset>
        <div *ngIf="hearingStartTimeHourInvalid" class="alert alert-danger">
          <span id="hearingStartTimeHour-error" class="govuk-error-message"> Provide a value for start hour between 0 and 23 </span>
        </div>
        <div *ngIf="hearingStartTimeMinuteInvalid" class="alert alert-danger">
          <span id="hearingStartTimeMinute-error" class="govuk-error-message"> Provide a value for start minutes between 0 and 59 </span>
        </div>
        <div *ngIf="isStartMinutesInPast || isStartHoursInPast" class="alert alert-danger">
          <span id="hearingTime-error" class="govuk-error-message"> Please enter a time in the future </span>
        </div>
      </div>

      <div [ngClass]="individualsInvalid || representativesInvalid || observersInvalid || panelMembersInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
        <label class="govuk-label govuk-!-width-full" for="participants"> Participants </label>

        <fieldset class="govuk-fieldset" role="group">

          <legend></legend>

          <div class="govuk-form-group govuk-input__wrapper">
            <input
                class="govuk-input govuk-input--width-2 numberInputs"
                id="individualsTextfield"
                name="individualsTextfield"
                type="number"
                placeholder="1"
                min="1"
                max={{maxParticipants}}
                title="individualsTextfield"
                formControlName="individualsTextfield"
                aria-label="individualsTextfield"
                aria-labelledby="individualsTextfield"
                [required]='true'
              />
            <div class="govuk-input__suffix suffixes" aria-hidden="true">Individuals</div>
          </div>

          <div class="govuk-form-group govuk-input__wrapper">
            <input
                class="govuk-input govuk-input--width-2 numberInputs"
                id="representativesTextfield"
                name="representativesTextfield"
                type="number"
                placeholder="1"
                min="1"
                max={{maxParticipants}}
                title="representativesTextfield"
                formControlName="representativesTextfield"
                aria-label="representativesTextfield"
                aria-labelledby="representativesTextfield"
                [required]='true'
              />
            <div class="govuk-input__suffix suffixes" aria-hidden="true">Representatives</div>
          </div>

          <div class="govuk-form-group govuk-input__wrapper">
            <input
                class="govuk-input govuk-input--width-2 numberInputs"
                id="observersTextfield"
                name="observersTextfield"
                type="number"
                placeholder="0"
                min="1"
                max={{maxParticipants}}
                title="observersTextfield"
                formControlName="observersTextfield"
                aria-label="observersTextfield"
                aria-labelledby="observersTextfield"
                [required]='true'
              />
            <div class="govuk-input__suffix suffixes" aria-hidden="true">Observers</div>
          </div>

          <div class="govuk-form-group govuk-input__wrapper">
            <input
                class="govuk-input govuk-input--width-2 numberInputs"
                id="panelMembersTextfield"
                name="panelMembersTextfield"
                type="number"
                placeholder="0"
                min="1"
                max={{maxParticipants}}
                title="panelMembersTextfield"
                formControlName="panelMembersTextfield"
                aria-label="panelMembersTextfield"
                aria-labelledby="panelMembersTextfield"
                [required]='true'
              />
            <div class="govuk-input__suffix suffixes" aria-hidden="true">Panel Members</div>
          </div>

        </fieldset>
        <div *ngIf="individualsInvalid" class="alert alert-danger">
          <span id="individualsInvalid-error" class="govuk-error-message"> Provide a value for the number of individual participants between 1 and {{maxParticipants}} </span>
        </div>
        <div *ngIf="representativesInvalid" class="alert alert-danger">
          <span id="representativesInvalid-error" class="govuk-error-message"> Provide a value for he number of representative participants between 0 and {{maxParticipants}} </span>
        </div>
        <div *ngIf="observersInvalid" class="alert alert-danger">
          <span id="observersInvalid-error" class="govuk-error-message"> Provide a value for he number of observer participants between 0 and {{maxParticipants}} </span>
        </div>
        <div *ngIf="panelMembersInvalid" class="alert alert-danger">
          <span id="panelMembersInvalid-error" class="govuk-error-message"> Provide a value for he number of panel member participants between 0 and {{maxParticipants}} </span>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-width-full" for="testTypeDropdown"> Test type </label>
        <select id="testTypeDropdown" class="govuk-select govuk-!-width-one-quarter"  formControlName="testTypeDropdown"
        >
          <option *ngFor="let testType of testTypes" [ngValue]="testType">
            {{ testType }}
          </option>
        </select>
      </div>

      <div class="govuk-form-group bigger-margin-bottom">
        <label class="govuk-label govuk-!-width-full" for="quantityDropdown"> Number of hearings </label>
        <select id="quantityDropdown" class="govuk-select govuk-!-width-one-quarter"  formControlName="quantityDropdown">
          <option *ngFor="let number of numbers" [ngValue]="number">
            {{ number }}
          </option>
        </select>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="questionnaireNotRequiredCheckBox"
            name="questionnaireNotRequiredCheckBox"
            type="checkbox"
            [checked]="defaultQuestionnaireNotRequired"
            formControlName="questionnaireNotRequiredCheckBox"
          />
          <label class="govuk-label govuk-checkboxes__label" for="questionnaireNotRequiredCheckBox"> Do not send questionnaires </label>
        </div>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="audioRecordingRequiredCheckBox"
            name="audioRecordingRequiredCheckBox"
            type="checkbox"
            [checked]="defaultAudioRecordingRequired"
            formControlName="audioRecordingRequiredCheckBox"
          />
          <label class="govuk-label govuk-checkboxes__label" for="audioRecordingRequiredCheckBox"> Audio recording required </label>
        </div>
      </div>

      <div class="govuk-!-padding-bottom-2"></div>

      <div class="sk-top">
        <div class="govuk-grid-column-one-half no-left-margin">
          <button
            id="bookButton"
            class="govuk-button vh-mr25"
            data-module="govuk-button"
            (click)="displayConfirmationDialog()"
            alt="Book hearing and view hearing details"
            [disabled]="bookingsSaving"
          >
            {{ buttonAction }}
          </button>
        </div>

      </div>

    </form>

  </div>

  <div class="govuk-grid-column-one-half">
  </div>

</div>
