<div class="govuk-grid-row">
  <ngx-spinner></ngx-spinner>

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Create a hearing</h1>
  </div>

  <form [formGroup]="form" class="govuk-form-group">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-padding-bottom-4">
        <label class="govuk-label govuk-!-width-full extra-bottom-margin" for="customCaseNamePrefix"> Custom Name (optional) </label>
        <input
          id="customCaseNamePrefix"
          placeholder="e.g. VIH-1234"
          maxlength="20"
          class="govuk-input govuk-!-width-two-thirds"
          type="text"
          formControlName="customCaseNamePrefix"
          required
        />
      </div>

      <div [ngClass]="hearingDateInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
        <label class="govuk-label govuk-!-width-full" for="hearingDate"> Date of hearing </label>
        <input
          id="hearingDate"
          class="govuk-input govuk-!-width-one-half"
          type="date"
          formControlName="hearingDate"
          required
          placeholder="e.g. 30/02/2021"
          min="{{ today | date: 'yyyy-MM-dd' }}"
          (blur)="resetPastTimeOnBlur()"
        />
        <div *ngIf="hearingDateInvalid" class="alert alert-danger">
          <span id="hearingDate-error" class="govuk-error-message"> Please enter a date in the future </span>
        </div>
        <div *ngIf="hearingDateExceedsMax" class="alert alert-danger">
          <span id="hearingDateExceedsMax-error" class="govuk-error-message">Hearing date must be within the next 30 days</span>
        </div>
      </div>

      <div
        [ngClass]="
          hearingStartTimeHourInvalid || hearingStartTimeMinuteInvalid || isStartHoursInPast || isStartMinutesInPast
            ? 'govuk-form-group--error'
            : 'govuk-form-group'
        "
      >
        <label class="govuk-label govuk-!-width-full" for="hearingStartTime"> Hearing start time (use the 24 hour clock) </label>
        <fieldset class="govuk-fieldset" aria-describedby="hearingStartTimeHour" role="group">
          <legend></legend>
          <div class="govuk-date-input">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2 numberInputs"
                  id="hearingStartTimeHour"
                  name="hearingStartTimeHour"
                  type="number"
                  min="0"
                  max="23"
                  placeholder="HH"
                  formControlName="hearingStartTimeHour"
                  title="hearingStartTimeHour"
                  aria-label="hearingStartTimeHour"
                  aria-labelledby="hearingStartTimeHour"
                  (blur)="startHoursInPast()"
                />
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <input
                  class="govuk-input govuk-date-input__input govuk-input--width-2 minutes numberInputs"
                  id="hearingStartTimeMinute"
                  name="hearingStartTimeMinute"
                  type="number"
                  min="1"
                  max="59"
                  placeholder="MM"
                  title="hearingStartTimeMinute"
                  formControlName="hearingStartTimeMinute"
                  aria-label="hearingStartTimeMinute"
                  aria-labelledby="hearingStartTimeMinute"
                  (blur)="startMinutesInPast()"
                />
              </div>
            </div>
          </div>
        </fieldset>
        <div *ngIf="hearingStartTimeHourInvalid" class="alert alert-danger">
          <span id="hearingStartTimeHour-error" class="govuk-error-message"> Provide a value for start hour between 0 and 23 </span>
        </div>
        <div *ngIf="hearingStartTimeMinuteInvalid" class="alert alert-danger">
          <span id="hearingStartTimeMinute-error" class="govuk-error-message"> Provide a value for start minutes between 0 and 59 </span>
        </div>
        <div *ngIf="isStartMinutesInPast || isStartHoursInPast" class="alert alert-danger">
          <span id="hearingTime-error" class="govuk-error-message"> Please enter a time in the future </span>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-width-full" for="testTypeDropdown"> Test type </label>
        <select id="testTypeDropdown" class="govuk-select govuk-!-width-one-quarter" formControlName="testTypeDropdown">
          <option *ngFor="let testType of testTypes" [ngValue]="testType">
            {{ testType }}
          </option>
        </select>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="questionnaireNotRequiredCheckBox"
            name="questionnaireNotRequiredCheckBox"
            type="checkbox"
            [checked]="defaultQuestionnaireNotRequired"
            formControlName="questionnaireNotRequiredCheckBox"
          />
          <label class="govuk-label govuk-checkboxes__label" for="questionnaireNotRequiredCheckBox"> Skip Service Web </label>
        </div>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="audioRecordingRequiredCheckBox"
            name="audioRecordingRequiredCheckBox"
            type="checkbox"
            [checked]="defaultAudioRecordingRequired"
            formControlName="audioRecordingRequiredCheckBox"
          />
          <label class="govuk-label govuk-checkboxes__label" for="audioRecordingRequiredCheckBox"> Audio recording required </label>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-width-full" for="quantityDropdown"> Number of hearings </label>
        <select id="quantityDropdown" class="govuk-select govuk-!-width-one-quarter" formControlName="quantityDropdown">
          <option *ngFor="let number of numberOfHearingsOptions" [ngValue]="number">
            {{ number }}
          </option>
        </select>
      </div>

      <div *ngIf="multipleHearings()" class="govuk-form-group">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="reuseUsersCheckBox"
            name="reuseUsersCheckBox"
            type="checkbox"
            [checked]="defaultReuseUsers"
            formControlName="reuseUsersCheckBox"
          />
          <label class="govuk-label govuk-checkboxes__label" for="audioRecordingRequiredCheckBox"> Re-use same users </label>
        </div>
      </div>

      <div
        *ngIf="
          !hearingDateInvalid &&
          !hearingStartTimeHourInvalid &&
          !hearingStartTimeMinuteInvalid &&
          !isStartHoursInPast &&
          !isStartMinutesInPast
        "
        class="sk-top"
      >
        <div class="govuk-grid-column-one-half no-left-margin">
          <button
            id="bookButton"
            class="govuk-button vh-mr25"
            data-module="govuk-button"
            (click)="displayConfirmationDialog()"
            alt="Book hearing and view hearing details"
            [disabled]="bookingsSaving || disableBookButton()"
          >
            {{ buttonAction }}
          </button>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div
        [ngClass]="
          individualsInvalid || representativesInvalid || observersInvalid || panelMembersInvalid
            ? 'govuk-form-group--error'
            : 'govuk-form-group'
        "
      >
        <label class="govuk-label govuk-!-width-full" for="participants"> Participants </label>

        <fieldset class="govuk-fieldset" role="group">
          <legend></legend>

          <div class="govuk-form-group govuk-input__wrapper">
            <input
              class="govuk-input govuk-input--width-2 numberInputs"
              id="individualsTextfield"
              name="individualsTextfield"
              type="number"
              placeholder="1"
              min="1"
              max="{{ maxParticipants }}"
              title="individualsTextfield"
              formControlName="individualsTextfield"
              aria-label="individualsTextfield"
              aria-labelledby="individualsTextfield"
              [required]="true"
            />
            <div class="govuk-input__suffix suffixes" aria-hidden="true">Individuals</div>
          </div>

          <div class="govuk-form-group govuk-input__wrapper">
            <input
              class="govuk-input govuk-input--width-2 numberInputs"
              id="interpretersTextfield"
              name="interpretersTextfield"
              type="number"
              placeholder="0"
              min="0"
              max="{{ maxParticipants }}"
              title="interpretersTextfield"
              formControlName="interpretersTextfield"
              aria-label="interpretersTextfield"
              aria-labelledby="interpretersTextfield"
              [required]="true"
            />
            <div class="govuk-input__suffix suffixes" aria-hidden="true">Interpreters</div>
          </div>

          <div class="govuk-form-group govuk-input__wrapper">
            <input
              class="govuk-input govuk-input--width-2 numberInputs"
              id="observersTextfield"
              name="observersTextfield"
              type="number"
              placeholder="0"
              min="0"
              max="{{ maxParticipants }}"
              title="observersTextfield"
              formControlName="observersTextfield"
              aria-label="observersTextfield"
              aria-labelledby="observersTextfield"
              [required]="true"
            />
            <div class="govuk-input__suffix suffixes" aria-hidden="true">Observers</div>
          </div>

          <div class="govuk-form-group govuk-input__wrapper">
            <input
              class="govuk-input govuk-input--width-2 numberInputs"
              id="panelMembersTextfield"
              name="panelMembersTextfield"
              type="number"
              placeholder="0"
              min="0"
              max="{{ maxParticipants }}"
              title="panelMembersTextfield"
              formControlName="panelMembersTextfield"
              aria-label="panelMembersTextfield"
              aria-labelledby="panelMembersTextfield"
              [required]="true"
            />
            <div class="govuk-input__suffix suffixes" aria-hidden="true">Panel Members</div>
          </div>

          <div class="govuk-form-group govuk-input__wrapper">
            <input
              class="govuk-input govuk-input--width-2 numberInputs"
              id="representativesTextfield"
              name="representativesTextfield"
              type="number"
              placeholder="1"
              min="0"
              max="{{ maxParticipants }}"
              title="representativesTextfield"
              formControlName="representativesTextfield"
              aria-label="representativesTextfield"
              aria-labelledby="representativesTextfield"
              [required]="true"
            />
            <div class="govuk-input__suffix suffixes" aria-hidden="true">Representatives</div>
          </div>

          <div class="govuk-form-group govuk-input__wrapper">
            <input
              class="govuk-input govuk-input--width-2 numberInputs"
              id="witnessesTextfield"
              name="witnessesTextfield"
              type="number"
              placeholder="0"
              min="0"
              max="{{ maxParticipants }}"
              title="witnessesTextfield"
              formControlName="witnessesTextfield"
              aria-label="witnessesTextfield"
              aria-labelledby="witnessesTextfield"
              [required]="true"
            />
            <div class="govuk-input__suffix suffixes" aria-hidden="true">Witnesses</div>
          </div>
        </fieldset>
        <div *ngIf="individualsInvalid" class="alert alert-danger">
          <span id="individualsInvalid-error" class="govuk-error-message">
            Provide a value for the number of individual participants between 1 and {{ maxParticipants }}
          </span>
        </div>
        <div *ngIf="interpretersInvalid" class="alert alert-danger">
          <span id="interpretersInvalid-error" class="govuk-error-message">
            Provide a value for the number of interpreter participants between 0 and {{ maxParticipants }}
          </span>
        </div>
        <div *ngIf="representativesInvalid" class="alert alert-danger">
          <span id="representativesInvalid-error" class="govuk-error-message">
            Provide a value for the number of representative participants between 0 and {{ maxParticipants }}
          </span>
        </div>
        <div *ngIf="observersInvalid" class="alert alert-danger">
          <span id="observersInvalid-error" class="govuk-error-message">
            Provide a value for the number of observer participants between 0 and {{ maxParticipants }}
          </span>
        </div>
        <div *ngIf="panelMembersInvalid" class="alert alert-danger">
          <span id="panelMembersInvalid-error" class="govuk-error-message">
            Provide a value for the number of panel member participants between 0 and {{ maxParticipants }}
          </span>
        </div>
        <div *ngIf="witnessesInvalid" class="alert alert-danger">
          <span id="witnessesInvalid-error" class="govuk-error-message">
            Provide a value for the number of witness participants between 0 and {{ maxParticipants }}
          </span>
        </div>
        <div *ngIf="noIndividualsOrReps" class="alert alert-danger">
          <span id="noIndividualsOrReps-error" class="govuk-error-message"> Please add at least 1 individual or representative </span>
        </div>
        <div *ngIf="moreInterpretersThanIndividuals" class="alert alert-danger">
          <span id="moreInterpretersThanIndividuals-error" class="govuk-error-message">
            Please ensure there are less interpreters than individuals
          </span>
        </div>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-width-full" for="endpointsDropdown"> Endpoints </label>
        <select id="endpointsDropdown" class="govuk-select govuk-!-width-one-quarter" formControlName="endpointsDropdown">
          <option *ngFor="let number of numberOfEndpointsOptions" [ngValue]="number">
            {{ number }}
          </option>
        </select>
      </div>

      <div class="govuk-form-group">
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="usingEjudCheckBox"
            name="usingEjudCheckBox"
            type="checkbox"
            [checked]="defaultusingEjud"
            formControlName="usingEjudCheckBox"
          />
          <label class="govuk-label govuk-checkboxes__label" for="usingEjudCheckBox"> Use Ejud Users </label>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="displayProgressPopup" id="progressDialog" class="vh-popup-overlay">
    <div class="vh-popup">
      <h1 *ngIf="!finishedCreatingHearings" id="inProgressTitle" class="govuk-heading-m">Creating hearings</h1>
      <h1 *ngIf="finishedCreatingHearings && !errorsOccured" id="completeTitle" class="govuk-heading-m">Hearings created</h1>
      <h1 *ngIf="errorsOccured" id="completeTitle" class="govuk-heading-m">Failed to create hearings</h1>

      <div *ngIf="!summeriesToDisplay() && !errorsOccured">
        <p id="progressText" class="govuk-body govuk-!-margin-bottom-9">Please wait whilst the hearings are created.</p>
      </div>

      <div *ngIf="summeriesToDisplay()">
        <dl *ngFor="let caseName of caseNames; index as i" class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Hearing {{ i + 1 }}</dt>
            <dd id="hearing-{{ i }}" class="govuk-summary-list__value">
              {{ caseName }}
            </dd>
          </div>
        </dl>
      </div>

      <div *ngIf="errorsToDisplay()">
        <dl *ngFor="let error of errors; index as i" class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Error {{ i + 1 }}</dt>
            <dd id="hearing-{{ i }}" class="govuk-summary-list__value">
              {{ error }}
            </dd>
          </div>
        </dl>
      </div>

      <div class="centre-buttons">
        <button
          id="continueButton"
          class="govuk-button vh-popup-button"
          type="button"
          data-module="govuk-button"
          aria-label="Continue to summary"
          (click)="continue()"
          *ngIf="enableContinueButton"
        >
          Continue
        </button>

        <button
          id="closeButton"
          class="govuk-button vh-popup-button"
          type="button"
          data-module="govuk-button"
          aria-label="Return to create hearings"
          (click)="reset()"
          *ngIf="enableCloseButton"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
