<div class="govuk-grid-row">

  <ngx-spinner></ngx-spinner>

  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-s">Your Hearings</h1>

    <div *ngIf="!hearingsToDisplay()" id="noHearingsMessage">
      <p>You have no hearings booked.</p>
    </div>

    <div *ngIf="hearingsToDisplay()">
      <table class="govuk-table"  aria-describedby="currentAllocationsTitle">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Case Name</th>
            <th scope="col" class="govuk-table__header">Scheduled Date</th>
            <th scope="col" class="govuk-table__header">Delete</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr *ngFor="let hearing of hearings;" id="{{hearing.id}}" class="govuk-table__row">
            <td id="{{hearing.id}}-case-name" class="govuk-table__cell">{{hearing.case_name}}</td>
            <td id="{{hearing.id}}-scheduled-date" class="govuk-table__cell">{{hearing.scheduled_date.toLocaleString()}}</td>
            <td class="govuk-table__cell">
              <button
                id="{{hearing.id}}-delete-button"
                class="govuk-button no-bottom-margin"
                type="button"
                data-module="govuk-button"
                aria-label="Delete the hearing"
                (click)="deleteHearing(hearing.case_name)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--invisible">
    </div>
  </div>

  <div class="govuk-grid-column-full">
    <h1 id="currentAllocationsTitle" class="govuk-heading-s">Your Allocated Users</h1>

    <div *ngIf="!allocationsToDisplay()" id="noAllocationsMessage">
      <p>You have no users allocated.</p>
    </div>

    <div *ngIf="allocationsToDisplay()">
      <table class="govuk-table"  aria-describedby="currentAllocationsTitle">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Username</th>
            <th scope="col" class="govuk-table__header">Expires At</th>
            <th scope="col" class="govuk-table__header">Unallocate</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr *ngFor="let allocation of allocations;" id="{{allocation.id}}" class="govuk-table__row">
            <td id="{{allocation.username}}-username" class="govuk-table__cell">{{allocation.username}}</td>
            <td id="{{allocation.username}}-expiry-at" class="govuk-table__cell">{{allocation.expires_at.toLocaleString()}}</td>
            <td class="govuk-table__cell">
              <button
                id="{{allocation.username}}-unallocate-button"
                class="govuk-button no-bottom-margin"
                type="button"
                data-module="govuk-button"
                aria-label="Unallocate the user"
                (click)="unallocateUser(allocation.username)"
              >
                Unallocate
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="displayPopup" id="dialog" class="vh-popup-overlay">
    <div class="vh-popup">
      <h1 *ngIf="errorRetrievingHearings || errorRetrievingAllocations || errorDeletingHearing || errorUnallocatingUser" id="failedTitle" class="govuk-heading-m">Failed</h1>
      <p *ngIf="errorRetrievingHearings" id="errorRetrievingHearingsText">An error occured whilst retrieving hearings.</p>
      <p *ngIf="errorRetrievingAllocations" id="errorRetrievingAllocationsText">An error occured whilst retrieving current allocations.</p>
      <p *ngIf="errorDeletingHearing" id="errorDeletingHearingText">An error occured whilst deleting the hearing</p>
      <p *ngIf="errorUnallocatingUser" id="errorUnallocatingUserText">An error occured whilst unallocating the user</p>
      <p *ngIf="errorRetrievingHearings || errorRetrievingAllocations || errorDeletingHearing || errorUnallocatingUser" id="errorTextDetails">{{error}}</p>

      <div class="centre-buttons">
        <button
          id="closeButton"
          class="govuk-button vh-popup-button"
          type="button"
          data-module="govuk-button"
          aria-label="Close dialog"
          (click)="closeDialog()"
          >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

