<div class="govuk-grid-row">

  <h1 class="govuk-heading-m">Creating hearings</h1>

  <div *ngIf="!summeriesToDisplay()">
    <p id='progressText' class="govuk-body govuk-!-margin-bottom-9">
      Creating...
    </p>
  </div>

  <div *ngIf="summeriesToDisplay()">
    <strong>Created hearings</strong>
    <ul>
      <li *ngFor="let caseName of caseNames">
        {{caseName}}
      </li>
    </ul>
  </div>

  <div *ngIf="errorsToDisplay()">
    <strong>Errors</strong>
    <ul>
      <li *ngFor="let error of errors">
        {{error}}
      </li>
    </ul>
  </div>

  <button
    id="continueButton"
    class="govuk-button govuk-!-margin-right-1"
    type="button"
    data-module="govuk-button"
    aria-label="Continue to summary"
    (click)="continue()"
    *ngIf="enableContinueButton"
  >
    Continue
  </button>

  <button
    id="retryButton"
    class="govuk-button govuk-!-margin-right-1"
    type="button"
    data-module="govuk-button"
    aria-label="Return to create hearings"
    (click)="goBackToHearings()"
    *ngIf="enableRetryButton"
  >
    Retry
  </button>

</div>
