<div id="progressDialog" class="vh-popup-overlay">
  <div class="vh-popup">
    <h1 class="govuk-heading-m">Creating hearings</h1>

    <div *ngIf="summeries.length === 0">
      <p id='progressText' class="govuk-body govuk-!-margin-bottom-9">
        Creating...
      </p>
    </div>

    <div *ngIf="summeries.length > 0">
      <p>Hearings:</p>
      <ul>
        <li *ngFor="let caseName of summeries.caseName" [ngValue]="caseName"></li>
      </ul>
    </div>

    <div *ngIf="errors.length > 0">
      <p>Errors:</p>
      <ul>
        <li *ngFor="let error of errors" [ngValue]="error"></li>
      </ul>
    </div>

    <button
      id="btnClose"
      class="govuk-button govuk-!-margin-right-1"
      type="button"
      data-module="govuk-button"
      aria-label="Continue to summary"
      (click)="continue()",
      *ngIf="enableContinueButton"
    >
      Continue
    </button>
  </div>
</div>

